
div {
    /*border-radius: 4px;*/
    border: solid;
    border-width: thin;
    border-color: transparent;
}

.igt {
    display: table;
    width: auto;
    border: 1px solid;
    border-spacing: 5px;
}

.tier {
    display: table-row;
    width: auto;
}

.tier-header {
    display: table-row-header;
    height: 100%;
}
.tier-content {
    display: table-cell;
    position: relative;
}
.tier.enumeration { list-style-type: none; }
.tier.interlinear { display: table-row; }

.item {
    display: inline-block;
    /*float: left;*/
    padding: 4px;
    margin: 2px;
    background-color: none;
}
.item:hover {
    background-color: #4AC;
    color: #FFF;
}
.column {
    display: inline-block;
    margin-top: 2px;
    background-color: #F2EBE0;
    border-color: #D0D0CC;
}
div.enumeration div.item { display: list-item; }
div.interlinear div.item {
    position: relative;
    /*float: left;*/
    /*display: table-cell;*/
    white-space: nowrap;
    border-color: #DDD;
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
}
div.interlinear div.item:hover {
    border-color: #4AC;
}

div.interlinear div.item.referenced {
    border-color: #04F;
}
div.item.referenced {
    border-color: #00F;
}

span.alignment {
    background-color: #FFA;
}
span.content {
    background-color: #FAA;
}
span.segmentation {
    background-color: #AFA;
}
